@import url('http://fonts.cdnfonts.com/css/circular-std');

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Circular Std', sans-serif;
}

.flex {
    display: flex;
}

.flex-container {
    height: 88vh;
}
/* Left side navbar menu */
main nav.side-menu {
    width: 15vw;
    height: 88vh;
    background-color: black;
}

main .menu-content {
    margin: 0 auto;
}

main div.main-container {
    width: 85vw;
    background-color: #141922;
}

footer {
    height: 12vh;
    background-color: #282828;
}