@import url('http://fonts.cdnfonts.com/css/circular-std');

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Circular Std', sans-serif;
}

.flex {
    display: flex;
}

/* .menu-container {
    height: 88vh;
} */

/* Left side navbar menu */
main nav.side-menu {
    width: 15vw;
    height: 88vh;
    background-color: black;
}

/* Main section and central navbar */
main .side-menu-content {
    width: 80%;
    /* stretch: 0; */
    margin: 15px;
    flex-direction: column;
    justify-content: space-between;
}

main div.nav-icon {
    color: #65686d;
    font-size: .7rem;
    margin-bottom: 10px;
}

main .nav-icon .icon {
    width: 20px;
    margin-right: 7px;
    color: #65686d;
}

main .nav-icon span {
    align-self: center;
}

main .nav-icon span a {
    text-decoration: none;
    color: #65686d;
}

main .side-menu-content .spotify-logo {
    width: 110px;
    margin-bottom: 1rem;
}

main div.main-container {
    width: 85vw;
    background-color: #141922;
}

/* Call to action button */
div.call-to-action {
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
}

div.call-to-action a.upgrade {
    border: 1px solid white;
    border-radius: 25px;
    margin: 15px;
    padding: 8px 30px;
    text-decoration: none;
    color: white;
    font-size: .7rem;
}

div.main-container .nav-container {
    justify-content: center;
}

.central-nav {
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    width: 40vw;
}

div.central-nav a{
    text-decoration: none;
    color: #65686d;
    font-size: .7rem;
}

main div.row-container {
    width: 82vw;
    margin: 0 auto 1rem;
}

main div.row-container h3 {
    color: white;
    margin-bottom: 1rem;
}

main div.row-container .row {
    height: 25vh;
    background-color: yellowgreen;
}

footer {
    height: 12vh;
    flex-shrink: 0;
    background-color: #282828;
}

footer.music-player {
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 98%;
}

.song-content {
    justify-content: center;
    align-items: center;
}

.song-content img {
    width: 3rem;
}

footer div.song-description {
    margin: 0 3rem 0 .7em ;
}
footer .title:hover,
footer .artist:hover {
    text-decoration: underline;
}

footer div.song-description h5 {
    color: white;
}

div.song-content > .far, .fas {
    margin-left: .7em;
}

footer .controller-content {
    justify-content: center;
    flex-direction: column;
    gap: .5em;
    align-items: center;
}

footer span {
    color: white;
    font-size: .7rem;
}

footer .controller-content .control-buttons { 
    color: white;
    align-items: center;
    text-align: center;
    gap: 1em;
}

footer .play-pause {
    padding: .4em;
    border: 2px solid white;
    border-radius: 50%;
}

footer .play-pause:hover{
    transform: scale(1.1);
}

footer .progress-bar-container {
    align-items: center;
    justify-content: center;
    width: 500px;
    gap: 1.2em;
}

footer .progress{
    height: 4px;
    width: 30%;
    border-radius: 10px;
    background-color: #c1c1c1;
}

footer .progress-bar {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: #5a5a5a;
}

@media screen and (max-width: 992px) {
    
}